---
import Layout from "../layouts/Layout.astro";
import Tentang from "../components/AboutPage.astro";
---

<Layout title="Rahmania Foundation - Program">
  <main>
    <Tentang></Tentang>
  </main>
</Layout>