---
import Layout from "../layouts/Layout.astro";
import Program from "../components/ProgramPage.astro";
---

<Layout title="Rahmania Foundation - Empowering Through Education">
  <main>
    <Program/>
  </main>
</Layout>
