---
import Layout from "../layouts/Layout.astro";
import Program from "../components/ProgramPage.astro";
---

<Layout title="Rahmania Foundation - Program">
  <main>
    <Program />
  </main>
</Layout>
