---
import QRCode from "../assets/QRCode.jpeg";
const apiUrl = import.meta.env.RAHMANIA_API_URL as string;
---

<section id="donate" data-api-url={apiUrl}>
  <div
    id="donationModal"
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden z-50"
  >
    <div
      class="bg-white rounded-md sm:w-[50%] w-[80%] p-6 max-h-[90vh] relative overflow-y-auto"
    >
      <h3 class="text-2xl font-bold mb-4 text-center">Formulir Donasi</h3>
      <div class="flex flex-col md:flex-row">
        <div class="mb-6 flex flex-col items-center">
          <img
            src={QRCode.src}
            alt="QR Code untuk Donasi"
            class="mb-4 w-24 h-24 sm:w-32 sm:h-32"
          />
          <p class="text-gray-700 text-center">
            Bank Jago Syariah<br />
            509366981893<br />
            a.n Muhammad Fadhil Abbas
          </p>
        </div>
        <form id="donationForm" class="md:ml-6 w-full">
          <div class="md:border-l md:border-gray-300 md:pl-8 md:py-2">
            <div class="mb-4">
              <label class="block text-gray-700">Nama:</label>
              <input
                type="text"
                class="w-full px-3 py-2 border rounded"
                required
              />
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Komentar:</label>
              <textarea
                class="w-full px-3 py-2 border rounded"
                rows="3"
                required></textarea>
            </div>
            <div class="mb-4">
              <label class="block text-gray-700">Jumlah Donasi:</label>
              <input
                type="number"
                min="1"
                class="w-full px-3 py-2 border rounded"
                required
              />
            </div>
          </div>
          <div class="flex flex-row justify-end gap-2">
            <button
              type="button"
              id="closeModal"
              class="px-8 py-2 bg-white border border-red-600 text-red-600 rounded"
              >Batal</button
            >
            <button
              type="submit"
              class="px-8 py-2 bg-white border border-blue-600 text-blue-600 rounded"
              >Kirim</button
            >
          </div>
        </form>
      </div>
      <button
        id="closeModalTop"
        class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 text-3xl px-4 py-2"
      >
        &times;
      </button>
    </div>
  </div>
</section>

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const donationModal = document.getElementById("donationModal");
    const closeModalButtons = document.querySelectorAll(
      "#closeModal, #closeModalTop",
    );
    const apiUrl = document.getElementById("donate").dataset.apiUrl;

    window.addEventListener("openDonateModal", () => {
      donationModal.classList.remove("hidden");
      document.body.classList.add("overflow-hidden");
    });

    closeModalButtons.forEach((button) => {
      button.addEventListener("click", () => {
        donationModal.classList.add("hidden");
        document.body.classList.remove("overflow-hidden");
      });
    });

    donationModal.addEventListener("click", (e) => {
      if (e.target === donationModal) {
        donationModal.classList.add("hidden");
        document.body.classList.remove("overflow-hidden");
      }
    });

    const donationForm = document.getElementById("donationForm");
    donationForm.addEventListener("submit", async (e) => {
      e.preventDefault();

      const nameValue = donationForm.querySelector('input[type="text"]').value;
      const commentValue = donationForm.querySelector("textarea").value;
      const amountValue = donationForm.querySelector(
        'input[type="number"]',
      ).value;

      try {
        const response = await fetch(`${apiUrl}/api/donation/add`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            donorName: nameValue,
            message: commentValue,
            amount: parseInt(amountValue, 10),
          }),
        });
        if (response.ok) {
          alert("Donation submitted!");
          donationModal.classList.add("hidden");
        } else {
          alert("Something went wrong.");
        }
      } catch (error) {
        console.error(error);
        alert("Error while sending the donation.");
      }
    });
  });
</script>
