---
import Section from "./Section.astro";
import DonationView from "./DonationView.tsx";

const apiUrl = import.meta.env.RAHMANIA_API_URL;
---

<Section>
  <h1 class="text-4xl font-normal">Donasi Terbaru</h1>
  <DonationView client:idle apiUrl={apiUrl}/>
</Section>
