---
// import programsData from '../components/program.json';
// const { programs } = programsData;
import { getCollection } from "astro:content";
import ProgramCard from "../components/ProgramCard.astro";

const allPrograms = await getCollection("programs");
---

<section id="programs" class="py-20 bg-gray-50 justify-items-center">
    <div class="container mx-2 px-4 w-full">
      <h2 class="text-3xl md:text-4xl font-bold text-center mb-8">
        Program dan Aktivitas Kami
      </h2>
      <div class="flex flex-col w-full gap-8 sm:grid sm:grid-cols-2 sm:justify-items-center py-8 px-4">
        {allPrograms.map((program, index) => (
          <ProgramCard
            title={program.data.title}
            description={program.data.description}
            location={program.data.location}
            images={program.data.images}
            color={index % 2 === 0 ? '#34d399' : '#3b82f6'}
          />
        ))}
      </div>
    </div>
</section>  
