---
// import programsData from '../components/program.json';
// const { programs } = programsData;
import { getCollection } from "astro:content";
import ProgramCard from "../components/ProgramCard.astro";

const allPrograms = await getCollection("programs");
---

<section
  id="programs"
  class="py-8 bg-gray-50 px-4
    sm:px-6
    md:px-8
    py-36"
>
  <div class="container
    flex
    flex-col
    text-left
    z-10">
    <h2 class="text-3xl md:text-4xl font-normal mb-4">
      Program Rahmania
      <span class="text-emerald-400">tersebar</span>
      <br />
      di seluruh Indonesia
    </h2>
    <p class="text-lg md:text-xl mb-12">
      Rahmania memiliki bermacam jenis program yang tersebar di seluruh
      Indonesia. Kami mengadakan pendidikan, pelatihan, dan bantuan kepada
      masyarakat kurang mampu.
    </p>
    <div
      class="grid grid-cols-1 w-full sm:grid-cols-2 gap-8 py-8 px-4 justify-items-center"
    >
      {
        allPrograms.map((program) => (
          <ProgramCard
            title={program.data.title}
            description={program.data.description}
            location={program.data.location}
            images={program.data.images}
          />
        ))
      }
    </div>
  </div>
</section>
